.App {
  text-align: center;
}

.form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header{
  margin-top: 55px;
  text-align: center;
}
#subtitle{
  margin-top: 3px;
  text-align: center;
}
.input.is-rounded{
  width: 30rem;
}
.select select{
  width: 30rem;
}
.select, .input{
  margin-bottom: 18px;
}

.button{
  margin-bottom: 10px;
}
.button:hover{
  cursor: pointer;
}

.footer-container{
  width: 100%;
  height: 35px;
  background-color: #282C34;
  bottom: 0;
  position: absolute;
}
footer{
  color: white;
}


@media (max-width: 1024px){
  .input.is-rounded{
    width: 13rem;
  }
  .select, select{
    width: 11rem;
  }
}
