.App {
  text-align: center;
  padding: 36px;
}

.form{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#subtitle{
  margin-top: 3px;
  text-align: center;
}

input{
  width: 25rem;
}
select{
  width: 17rem;
}
.select, .input{
  margin-bottom: 15px;
}
.button{
  margin-bottom: 15px;
}
.button:hover{
  cursor: pointer;
}

.footer-container{
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: auto;
  height: 50px;
  background-color: #282C34;
}
footer{
  color: white;
}


@media (max-width: 1024px){
  .input{
    width: 9rem;
  }
  .select, select{
    width: 9rem;
  }
}
